* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
}

#page_title {
    color: white;
    text-align: center;
    font-size: 2.8em;
    padding: 20px 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10%;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.7em;
    color: white;
    background-color: rgb(5, 5, 50);
    margin: 5px;
    padding: 15px 0;
}

main {
    display:grid;
    grid-template-columns: 400px 1fr;
    margin: 0 10%;
}

#about-me-resized {
    display:inline-block;
}

p {
    color: white;
    margin: .5em 2.5em;
    font-size: 1.5em;
    text-indent: 50px;
}